*
!.vimrc
!.gitignore
!.xinitrc
!.xprofile
!.config/wpg/*
!.config/zathura/zathurarc
!.config/scripts/*
!.config/mpd/*
!.config/i3/*
!.config/fontconfig/*
!.config/fish/*
!.config/dunst/*
!.config/conky/*
!.config/chromium-flags.config
!.config/autostart/*
!.config/autostart-scripts/*
!.config/alacritty/*

