#!/bin/sh
# KDE stuff
#export DESKTOP_SESSION=kde
#export XDG_CURRENT_DESKTOP=KDE
#export QT_PLUGIN_PATH=$HOME/.kde4/lib/kde4/plugins/:/usr/lib/kde4/plugins/
#export QT_QPA_PLATFORMTHEME="qt5ct"

# Fix Viber's bullshit
export QT_AUTO_SCREEN_SCALE_FACTOR=0

export QT_QPA_PLATFORMTHEME="gtk2"
#export QT_STYLE_OVERRIDE=kvantum

# Reddit Terminal Viewer editor
export RTV_EDITOR=vim

# Fixes chromium's pink,red,yellow mess
#export allow_rgb10_configs=false

# some wine boostifier stuff
export WINEDEBUG=-all
export DXVK_LOG_LEVEL=none
export WINEESYNC=1
export WINEARCH=win64

# Import my account keys into the environment
export GOOGLE_API_KEY=$(cat .googleapikey)

# Vulkan override for nvidia gpus
#if lsmod | grep nvidia &> /dev/null; then
#	export VK_ICD_FILENAMES=/usr/share/vulkan/icd.d/nvidia_icd.json
#fi

# Intel Gayming on Binux
#export MESA_LOADER_DRIVER_OVERRIDE=iris

