/*
 * vim: ft=less
 */

@import "/home/nikp123/.config/swaync/colours/catppuccin-macchiato.css";

.notification-row {
  transition: all 200ms ease;
  outline: none;
  margin-bottom: 4px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: transparent;
}

.notification-row:focus .notification,
.notification-row:hover .notification {
  box-shadow: 0px 0px 0px 3px @overlay2;
}

.control-center .notification {
  box-shadow: none;
}

.control-center .notification-row {
  opacity: 0.5;
}

.notification {
  transition: all 200ms ease;
  border-radius: 7px;
  margin: 6px 6px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
  padding: 0;
}

/* Uncomment to enable specific urgency colors
.low {
  background: yellow;
  padding: 6px;
}

.normal {
  background: green;
  padding: 6px;
}

.critical {
  background: red;
  padding: 6px;
}
*/

.notification-content {
  background: transparent;
  padding: 6px;
  border-radius: 7px;
}

.close-button {
  background: @overlay1;
  color: white;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @overlay2;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: @surface0;
  color: white;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: @surface2;
}

.notification-default-action {
  border-radius: 7px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 10px;
}

.notification-action:last-child {
  border-bottom-right-radius: 10px;
  border-right: 1px solid @overlay1;
}

.image {
}

.body-image {
  margin-top: 6px;
  background-color: white;
  border-radius: 0;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: white;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: white;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: white;
  text-shadow: none;
}

/* The "Notifications" and "Do Not Disturb" text widget */
.top-action-title {
  color: white;
  text-shadow: none;
}

.control-center-clear-all {
  color: white;
  text-shadow: none;
  background: @surface0;
  border: 1px solid @overlay1;
  box-shadow: none;
  border-radius: 12px;
}

.control-center-clear-all:hover {
  background: @surface2;
}

.control-center-dnd {
  border-radius: 12px;
  background: @surface0;
  border: 1px solid @overlay1;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @lavender
}

.control-center-dnd slider {
  background: @surface2;
  border-radius: 12px;
}

.control-center {
  background: alpha(@base, 0.8);
  background-clip: border-box;
  padding: 4px;
}

.control-center-list {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
  margin: 8px;
  font-size: 1.5rem;
  font-weight: bold;
}
.widget-title > button {
  font-size: initial;
  color: white;
  text-shadow: none;
  background: @surface0;
  border: 1px solid @overlay1;
  box-shadow: none;
  border-radius: 7px;
}
.widget-title > button:hover {
  background: @surface2;
}

/* DND widget */
.widget-dnd {
  margin: 8px;
  font-size: 1.1rem;
}
.widget-dnd > switch {
  font-size: initial;
  border-radius: 12px;
  background: @surface0;
  border: 1px solid @overlay1;
  box-shadow: none;
}
.widget-dnd > switch:checked {
  background: @lavender
}
.widget-dnd > switch slider {
  background: @surface2;
  border-radius: 12px;
}

/* Label widget */
.widget-label {
  margin: 8px;
}
.widget-label > label {
  font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
  /* The parent to all players */
}
.widget-mpris-player {
  padding: 8px;
  margin: 8px;
  background-color: @surface0;
  border-radius: 7px;
}
.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}
.widget-mpris-subtitle {
  font-size: 1.1rem;
}
