[Desktop Entry]
Type=Application
Name=Android screen
Comment=Share the display of an android device connected through ADB
Exec=/home/nikp123/Projects/git/tools/scrcpy-desktop/startscreen.sh
Icon=android-studio
Terminal=false
Categories=Development;
