[Desktop Entry]
Type=Application
Name=Windows 7 VM
Comment=Start the Windows 7 QEMU GVT accelerated VM
Exec=/media/DATA/VMs/windows7/start.sh
Icon=virtualbox
Terminal=false
Categories=Development;
